.cycle-button {
    display: inline-block;
    position: relative;
    margin: 20px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    font: bold 30px/55px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 25px;
    -moz-border-radius: 20px;
    border-radius: 25px;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 10px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
input[type="text"].cycle-text {
	position: relative;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	height:40px;
	font-size: 120%;
	border:1px solid #d9d9d9;
	padding:2px 10px 2px 10px;
	width: 240px;
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
textarea.cycle-textarea{
	position: relative;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	height: 40px;
	line-height: 30px;
	font-size: 150%;
	border:1px solid #ffffff;
	padding:2px 10px 2px 10px;
	width: 240px;
	resize: none;
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
::-webkit-input-placeholder {
    text-align: left;
}
::-moz-placeholder {    /* Firefox 19+ */
    text-align: left;
}
:-ms-input-placeholder {
    text-align: left;
}
label.radio-label{
	position: relative;
	padding: 0 5px 0 5px;
	margin: 10px 0px 0px 0px;
	line-height: 30px;
	height: 40px;
	width: 200px;
	text-align: center;
	text-decoration: none;
}
.highlight{
	text-decoration: underline;
}
a:link,a:visited,a:hover,a:active
{
	 text-decoration: none;
}
@font-face {  
    font-family: fzcyjt;  
    src:url('/static/font/FZY4JW.ttf');
	src: local('fzcyjt'), 
		url('/static/font/FZY4JW.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}
.blue-font{
	font-size: 120%;
	color: rgb(28,91,170);
	font-family: fzcyjt,Arial,sans-serif;
	font-weight: bold;
	line-height: 120%;
}
.pink-font{
	font-size: 120%;
	color: rgb(208,62,162);
	font-family: fzcyjt,Arial,sans-serif;
	font-weight: bold;
	line-height: 120%;
}
.black-font{
	font-size:120%;
	color: black;
	font-family: fzcyjt,Arial,sans-serif;
	font-weight: bold;
	line-height: 120%;
}
.white-font{
	font-size:150%;
	color: white;
	font-family: fzcyjt,Arial,sans-serif;
	font-weight: bold;
	line-height: 180%;
}
.fullscreen{
	background-color: rgba(0,0,0,0.3);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:100;
}
.bg-start{
	background-image: url('/static/image/bg-start.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	resize: none;
}
.bg-end{
	background-image: url('/static/image/bg-end.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	resize: none;
}
.bg-color-male{
	background:rgb(117,198,252) fixed no-repeat 0 0;
	resize: none;
}
.bg-color-female{
	background: rgb(252,135,135) fixed no-repeat center center;
	resize: none;
}
.top-offset-1{
	position: relative;
	margin-top:5%;
}
.top-offset-2{
	position: relative;
	margin-top:10%;
}
.top-offset-3{
	position: relative;
	margin-top:15%;
}
.top-offset-4{
	position: relative;
	margin-top:20%
}
.top-offset-5{
	position: relative;
	margin-top:40%;
}
.top-offset-10{
	position: relative;
	margin-top:95%;
}
.fixed-position{
	position: fixed;
	width: 100%;
	height: 100%;
}
#footer {
	font-family: fzcyjt,Arial,sans-serif;
	font-weight: bold;
	position: fixed;
	color: rgb(255,255,255);
	bottom: 0;
	width: 100%;
	height: 40px;/*距离底边的值*/
}
.mywhite {
    color: #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-6{
	margin-left:50%;
}
.col-xs-offset-4{
	margin-left:33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.checkbox , .radio{
	width: 30px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url('/static/image/checkbox.png') no-repeat;
	display: block;
	clear: left;
	float: left;
}
.blue-radio {
	background: url('/static/image/blue-radio.png') no-repeat;
	width: 30px;
	height: 30px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
}
.red-radio {
	background: url('/static/image/red-radio.png') no-repeat;
	width: 30px;
	height: 30px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
}