{% extends 'include/base.html' %}
{% block body %}
	<body class="bg-color-male" id="page2">
		<div class="row col-xs-9 col-xs-offset-2">
			<form id="maleNatureForm" method="post">
				<div class="text-left top-offset-3">
					<span class="white-font">他是：</span>
				</div>
				<div class="text-left">
					<p>
						<input type="radio" class="styled blue-radio" name="character" id="nature1" value="1" checked />
						<label for="nature1" class="radio-label white-font">温柔暖男</label>
					</p>
					<p>
						<input type="radio" class="styled blue-radio" name="character" id="nature2" value="2" />
						<label for="nature2" class="radio-label white-font">成熟大叔</label>
					</p>
					<p>
						<input type="radio" class="styled blue-radio" name="character" id="nature3" value="3" />
						<label for="nature3" class="radio-label white-font">清纯正太</label>
					</p>
					<p>
						<input type="radio" class="styled blue-radio" name="character" id="nature4" value="4" />
						<label for="nature4" class="radio-label white-font">迷一般的男子</label>
					</p>
				</div>
				
				<div class="row text-center top-offset-4 col-xs-4">
					<input type="submit" class="cycle-button mywhite bg-checked" style="color:#FF0088" id="maleNatureButton" value="    确   定    "/>
				</div>
			</form>
		</div>
		<div id="footer" class="text-center">2 / 5</div>
	</body>
{% endblock %}